Repository inspec/inspec-habitat, pull requests merged in 2019-04, with the labels that each got.

#21 Rough update for README
  README.md
Labels: Aspect/Docs, Type/Enhancement

#25 habitat_service copyediting
  docs/resources/habitat_service.md
Labels: Aspect/Docs

#20 New resource: habitat_services
  docs/habitat_services.md
  libraries/habitat_services.rb
  test/integration/sup-fixture/bootstrap.sh
  test/integration/test-profile/controls/habitat_services.rb
  test/unit/fixtures/services-multi.api.json
  test/unit/fixtures/services-none.api.json
  test/unit/fixtures/svc-status-multi.cli.txt
  test/unit/fixtures/svc-status-none.cli.txt
  test/unit/services_test.rb
Labels: Component/Resources, Type/New Feature

#30 Copyedits for habitat_package
  docs/resources/habitat_package.md
Labels: Aspect/Docs

#29 Copyedits for habitat_packages
  docs/resources/habitat_packages.md
Labels: Aspect/Docs

#26 habitat_packages resource
  docs/resources/habitat_packages.md
  libraries/habitat_packages.rb
  test/integration/test-profile/controls/habitat_packages.rb
  test/unit/fixtures/pkg-list-all.cli.txt
  test/unit/fixtures/pkg-list-miss.cli.txt
  test/unit/fixtures/pkg-list-multi-releases.cli.txt
  test/unit/fixtures/pkg-list-multi-versions.cli.txt
  test/unit/fixtures/pkg-list-single-specific-release.cli.txt
  test/unit/fixtures/pkg-list-single-specific-version.cli.txt
  test/unit/fixtures/pkg-list-single.cli.txt
  test/unit/packages_test.rb
Labels: Component/Resources, Expeditor/Bump Minor Version, Type/New Feature
